<%- include ('../partials/header')%>

<%- include ('../partials/navbar')%>

<!-- Page header with logo and tagline-->
<!-- <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to my blog</h1>
            <p class="lead mb-0">on todays Latest news be it tech. fashion. music. politics</p>
        </div>
    </div>
</header> -->
<!-- Page content-->
<div class="container">
    <div class="row">
    <!-- Blog entries-->
    <div class="text-center">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to my blog</h1>
            <p class="lead mb-0">on todays Latest news be it tech. fashion. music. politics</p>
        </div>
    </div>
    <%- include ('../partials/sidebar')%>

        <div class="col-md-10">
            <div class="row">
            <!-- Featured blog post -->
            <div class="card mb-3 col-md-8 offset-3">
                <a href="#!"><img class="card-img" width="100px" src="../assets/img/<%=post[1].image%>" alt="..."/></a>
                <div class="card-body">
                    <div class="small text-muted"><%=post[1].created_at%> </div>
                    <h2 class="card-title"><%=post[1].title%> </h2>
                    <p class="card-text"><%=post[1].summary%> </p>
                    <a class="btn btn-primary" href="/blogs/<%=post[1]._id%> " onclick="">Read more →</a>
                </div>
            </div>
            </div>
             <!-- Blog post-->
            <div class="row">
                <% post.forEach((post)=>{  %>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <img src="../assets/img/<%= post.image%>" width="100px" height="100px">  
                      <div class="small text-muted"><%= post.created_at%></div>  
                      <h5 class="card-title"><%= post.title%></h5>
                      <p class="card-text"><%= post.summary%></p>
                      <a href="/blogs/<%= post._id%>" class="btn btn-primary">Read more →</a>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>   
        </div>
    </div>
</div>        
       
<%- include ('../partials/footer')%>
